Library
Logs
Packages
Temp
UserSettings
.vsconfig
*.csproj
*.sln
Assembly-CSharp-Editor-firstpass.csproj
Assembly-CSharp-Editor.csproj
Assembly-CSharp-firstpass.csproj
Assembly-CSharp.csproj
Assets/UserTest/AllProjects/ThroughWorld/Scripts/Actor/Base/RoleBase.cs
Assets/UserTest/AllProjects/ThroughWorld/Scripts/Actor/Player/PlayerAniEvent.cs
Assets/UserTest/AllProjects/ThroughWorld/Scripts/Actor/Player/PlayerAniEvent.cs.meta
Assets/UserTest/AllProjects/ThroughWorld/Scripts/Actor/Player/PlayerController.cs
Assets/UserTest/AllProjects/ThroughWorld/Scripts/Manager/CameraManager.cs
Assets/UserTest/AllProjects/ThroughWorld/Scripts/Manager/GameActorManager.cs
Assets/UserTest/AllProjects/ThroughWorld/Scripts/Manager/GameInputManager.cs
Assets/UserTest/AllProjects/ThroughWorld/Scripts/Manager/GameInputManager.cs.meta
Assets/UserTest/AllProjects/ThroughWorld/Scripts/Manager/GameUIManager.cs
Assets/UserTest/AllProjects/ThroughWorld/Scripts/UI/UICommon/UICommonTool.cs
Assets/UserTest/Jammo-Character/Models/Jammo_LowPoly.fbx.meta
Assets/UserTest/Jammo-Character/Models/Jammo_LowPolyAvatar_old.asset.meta
Assets/YangTools/EditorStudio/Editor/AniEditor/AniEditorPlay/AniEditor.cs
Assets/YangTools/EditorStudio/Editor/AutoTools/CommonTool/CommonEditorTool.cs
Assets/YangTools/Scripts/Core/YangUGUI/UGUIHelper.cs
Assets/YangTools/Scripts/Core/YangUGUI/UIMonoInstance.cs
AstarPathfindingProject.csproj
AstarPathfindingProjectEditor.csproj
Cinemachine.csproj
com.unity.cinemachine.editor.csproj
PackageToolsEditor.csproj
Sirenix.OdinInspector.CompatibilityLayer.Editor.csproj
UniTask.Addressables.csproj
UniTask.csproj
UniTask.DOTween.csproj
UniTask.Editor.csproj
UniTask.Linq.csproj
UniTask.TextMeshPro.csproj
Unity.CollabProxy.Editor.csproj
Unity.InputSystem.csproj
Unity.PlasticSCM.Editor.csproj
Unity.Rider.Editor.csproj
Unity.Services.Core.Analytics.csproj
Unity.Services.Core.Configuration.csproj
Unity.Services.Core.Configuration.Editor.csproj
Unity.Services.Core.csproj
Unity.Services.Core.Device.csproj
Unity.Services.Core.Editor.csproj
Unity.Services.Core.Environments.csproj
Unity.Services.Core.Environments.Internal.csproj
Unity.Services.Core.Internal.csproj
Unity.Services.Core.Networking.csproj
Unity.Services.Core.Registration.csproj
Unity.Services.Core.Scheduler.csproj
Unity.Services.Core.Telemetry.csproj
Unity.Services.Core.Threading.csproj
Unity.TextMeshPro.csproj
Unity.TextMeshPro.Editor.csproj
Unity.Timeline.csproj
Unity.Timeline.Editor.csproj
Unity.VisualScripting.Core.csproj
Unity.VisualScripting.Core.Editor.csproj
Unity.VisualScripting.Flow.csproj
Unity.VisualScripting.Flow.Editor.csproj
Unity.VisualScripting.SettingsProvider.Editor.csproj
Unity.VisualScripting.Shared.Editor.csproj
Unity.VisualScripting.State.csproj
Unity.VisualScripting.State.Editor.csproj
Unity.VisualStudio.Editor.csproj
Unity.VSCode.Editor.csproj
UnityEditor.TestRunner.csproj
UnityEngine.TestRunner.csproj
YangTool.sln
/obj
obj/Debug/Assembly-CSharp-Editor-firstpass.csproj.AssemblyReference.cache
obj/Debug/Assembly-CSharp-Editor.csproj.AssemblyReference.cache
obj/Debug/Assembly-CSharp-firstpass.csproj.AssemblyReference.cache
obj/Debug/Assembly-CSharp-firstpass.Player.csproj.AssemblyReference.cache
obj/Debug/Assembly-CSharp.csproj.AssemblyReference.cache
obj/Debug/Assembly-CSharp.Player.csproj.AssemblyReference.cache
obj/Debug/AstarPathfindingProject.csproj.AssemblyReference.cache
obj/Debug/AstarPathfindingProject.Player.csproj.AssemblyReference.cache
obj/Debug/AstarPathfindingProjectEditor.csproj.AssemblyReference.cache
obj/Debug/CFXR.WelcomeScreen.csproj.AssemblyReference.cache
obj/Debug/CFXRDemo.csproj.AssemblyReference.cache
obj/Debug/CFXRDemo.Player.csproj.AssemblyReference.cache
obj/Debug/CFXREditor.csproj.AssemblyReference.cache
obj/Debug/CFXRRuntime.csproj.AssemblyReference.cache
obj/Debug/CFXRRuntime.Player.csproj.AssemblyReference.cache
obj/Debug/Cinemachine.csproj.AssemblyReference.cache
obj/Debug/Cinemachine.Player.csproj.AssemblyReference.cache
obj/Debug/com.unity.cinemachine.editor.csproj.AssemblyReference.cache
obj/Debug/ES3.csproj.AssemblyReference.cache
obj/Debug/Es3.Player.csproj.AssemblyReference.cache
obj/Debug/KinoBloom.Runtime.csproj.AssemblyReference.cache
obj/Debug/KinoBloom.Runtime.Player.csproj.AssemblyReference.cache
obj/Debug/PackageToolsEditor.csproj.AssemblyReference.cache
obj/Debug/Sirenix.OdinInspector.CompatibilityLayer.Editor.csproj.AssemblyReference.cache
obj/Debug/ToonyColorsPro.Demo.Editor.csproj.AssemblyReference.cache
obj/Debug/UniFramework.Machine.csproj.AssemblyReference.cache
obj/Debug/UniFramework.Machine.Player.csproj.AssemblyReference.cache
obj/Debug/UniTask.Addressables.csproj.AssemblyReference.cache
obj/Debug/UniTask.Addressables.Player.csproj.AssemblyReference.cache
obj/Debug/UniTask.csproj.AssemblyReference.cache
obj/Debug/UniTask.DOTween.csproj.AssemblyReference.cache
obj/Debug/UniTask.DOTween.Player.csproj.AssemblyReference.cache
obj/Debug/UniTask.Editor.csproj.AssemblyReference.cache
obj/Debug/UniTask.Linq.csproj.AssemblyReference.cache
obj/Debug/UniTask.Linq.Player.csproj.AssemblyReference.cache
obj/Debug/UniTask.Player.csproj.AssemblyReference.cache
obj/Debug/UniTask.TextMeshPro.csproj.AssemblyReference.cache
obj/Debug/UniTask.TextMeshPro.Player.csproj.AssemblyReference.cache
obj/Debug/UniTask.YooAsset.csproj.AssemblyReference.cache
obj/Debug/UniTask.YooAsset.Player.csproj.AssemblyReference.cache
obj/Debug/Unity.2D.Sprite.Editor.csproj.AssemblyReference.cache
obj/Debug/Unity.InputSystem.csproj.AssemblyReference.cache
obj/Debug/Unity.InputSystem.ForUI.csproj.AssemblyReference.cache
obj/Debug/Unity.InputSystem.ForUI.Player.csproj.AssemblyReference.cache
obj/Debug/Unity.InputSystem.Player.csproj.AssemblyReference.cache
obj/Debug/Unity.ScriptableBuildPipeline.csproj.AssemblyReference.cache
obj/Debug/Unity.ScriptableBuildPipeline.Editor.csproj.AssemblyReference.cache
obj/Debug/Unity.ScriptableBuildPipeline.Player.csproj.AssemblyReference.cache
obj/Debug/Unity.TextMeshPro.csproj.AssemblyReference.cache
obj/Debug/Unity.TextMeshPro.Editor.csproj.AssemblyReference.cache
obj/Debug/Unity.TextMeshPro.Player.csproj.AssemblyReference.cache
obj/Debug/Unity.Timeline.csproj.AssemblyReference.cache
obj/Debug/Unity.Timeline.Editor.csproj.AssemblyReference.cache
obj/Debug/Unity.Timeline.Player.csproj.AssemblyReference.cache
obj/Debug/UnityEditor.UI.csproj.AssemblyReference.cache
obj/Debug/UnityEngine.UI.csproj.AssemblyReference.cache
obj/Debug/UnityEngine.UI.Player.csproj.AssemblyReference.cache
obj/Debug/YangTool.csproj.AssemblyReference.cache
obj/Debug/YangTool.Player.csproj.AssemblyReference.cache
obj/Debug/YooAsset.csproj.AssemblyReference.cache
obj/Debug/YooAsset.Editor.csproj.AssemblyReference.cache
obj/Debug/YooAsset.Player.csproj.AssemblyReference.cache
